<%= button_to "Do something", example_path, method: :get, data: {turbo_stream: true} %>

<div id="example"></div>

<div class="todo"></div>
<div class="todo"></div>
<div class="todo"></div>
<div class="todo"></div>
<div class="todo"></div>
